<%= form_for @pipedrive_config, url: pipedrive_configs_app_key_path, method: :post do |f| %>
  <% if @pipedrive_config.errors.any? %>

    <div id="error_explanation">
      <h2><%= pluralize(@pipedrive_config.errors.count, "error") %> prohibited this pipedrive configuration from being saved:</h2>
      <ul>
      <% @pipedrive_config.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    App Key<br>
    <%= f.text_field :value, :size => 50 %>
  </div>

  <div class="actions">
    <%= f.submit (@pipedrive_config.new_record? ? 'Create' : 'Update') %>
    
    <% if !@pipedrive_config.new_record? %>
    <%= link_to 'Disable', pipedrive_configs_path, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>
<% end %>